* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Roboto";
  color: rgb(44, 41, 44);
  background-image: linear-gradient(pink, powderblue);
}

#main-header {
  color: rgb(44, 41, 44);
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #0000ff;
  border: 1px solid #0000ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: #0000ff;
}

.btn:hover {
  background-color: #000c66;
  border-color: #000c66;
}

.btn-alt:hover {
  background-color: #bfd7ed;
  border-color: transparent;
}

footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0000ff;
  color: pink;
  font-size: large;
  padding: 12px;
}

footer a {
  text-decoration: none;
  color: pink;
  cursor: pointer;
}
